---
layout: default
---
<!-- <div id="navi">
  <ul>
     <li><a href="#home">Home</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#work">Work Projects</a></li>
    <li><a href="#personal">Personal Projects</a></li>
    <li><a href="#university">University Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div> -->

<nav class="navbar navbar-default navbar-fixed-top " style="background:#CCCCCC;border:#CCCCCC" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
    	<li><a href="#about">Me</a></li>
    	<li><a href="#work">Work Projects</a></li>
    	<li><a href="#university">University Projects</a></li>
    	<li><a href="#personal">Personal Projects</a></li>
    	<li><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <header class="color-2" id="home">
  <div id="headerContainer">
    <h1>Sakari Pesonen<span>Portfolio</span></h1>
    <div/>
</header> -->
<!--section class="ss-style-halfcircle color-2" id="about"-->
<section class="ss-style-curvedown color-2" id="about">
  <h2>Sakari Pesonen<span>Portfolio</span></h2>
  {% for post in site.categories.about %}
    <div class="project col-2">
      <div class="column" style="padding-top:3em; padding-bottom:4em;">
        <img src="{{post.picture}}" class="roundpic"/>
      </div>
      <div class="column text left">
        <p>{{post.content}}</p>
        <br/>
        <p>
          Questions? Send me a message on 
          <strong><a target="_blank" href="https://fi.linkedin.com/in/sakaripesonen">LinkedIn</a></strong>
          or via
          <strong><script type="text/javascript">
            gen_mail_to_link2('pesonen.sakari','gmail.com', 'Email');
          </script></strong>.

          Most of public projects in this portfolio can be also found on my
          <strong><a target="_blank" href="https://github.com/sagge">Github</a></strong>.   
        </p>
      </div>
    </div>
  {% endfor %}
</section>
<svg id="curveDownColor" style="background: #CCFFF5;" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path d="M0 0 C 50 100 80 100 100 0 Z"/>
</svg>


{% assign myArray = "work" | split: "|" %}
   {% for projectType in myArray %}
<section class="color-{{projectType}}" id="{{projectType}}">
  <h2>{{projectType | capitalize}} Projects</h2>
  {% for post in site.posts %}
  {% if post.category == projectType %}
  {% if post.layout == "col-2" %}
  <div class="project col-2">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="project_details">
      <div class="column" style="padding-right: 2em; text-align: justify">
        <p>{{post.content}}</p>
      </div>
      <div class="column">
        <img src="{{post.picture}}" class="projectpic icon"/>
      </div>
    </div>
  </div>
  {% endif %}
  {% if post.layout == "col-1" %}
  <div class="project col-1">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="column text" style="text-align: justify">
      <p>{{post.content}}</p>
    </div>
  </div>
  {% endif %}
    {% endif %}
  {% endfor %}
</section>
<svg id="slit" style="background: #CCFFCC;" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path id="slitPath2" d="M50 100 C49 80 47 0 40 0 L47 0 Z" />
	<path id="slitPath3" d="M50 100 C51 80 53 0 60 0 L53 0 Z" />
	<path id="slitPath1" d="M47 0 L50 100 L53 0 Z" />
</svg>
<!--svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path d="M0 0 C 50 100 80 100 100 0 Z"/>
</svg-->
{% endfor %}

{% assign myArray = "university" | split: "|" %}
   {% for projectType in myArray %}
<section class="section-border-triangles::after color-{{projectType}}" id="{{projectType}}">
  <h2>{{projectType | capitalize}} Projects</h2>
  {% for post in site.posts %}
  {% if post.category == projectType %}
  {% if post.layout == "col-2" %}
  <div class="project col-2">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="project_details">
      <div class="column" style="padding-right: 2em; text-align: justify">
        <p>{{post.content}}</p>
      </div>
      <div class="column">
        <img src="{{post.picture}}" class="projectpic icon"/>
      </div>
    </div>
  </div>
  {% endif %}
  {% if post.layout == "col-1" %}
  <div class="project col-1">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="column text" style="text-align: justify">
      <p>{{post.content}}</p>
    </div>
  </div>
  {% endif %}
    {% endif %}
  {% endfor %}
</section>
<svg id="bigTriangleShadow" style="background:#CCFFF5; fill:#CCFFCC; stroke:#b3ffb3" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
	<path id="trianglePath2" d="M50 100 L100 40 L100 0 Z" />
</svg>
{% endfor %}

{% assign myArray = "personal" | split: "|" %}
   {% for projectType in myArray %}
<section class="section-border-triangles::before color-{{projectType}}" id="{{projectType}}">
  <h2>{{projectType | capitalize}} Projects</h2>
  {% for post in site.posts %}
  {% if post.category == projectType %}
  {% if post.layout == "col-2" %}
  <div class="project col-2">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="project_details">
      <div class="column" style="padding-right: 2em; text-align: justify">
        <p>{{post.content}}</p>
      </div>
      <div class="column" style="text-align: justify">
        <img src="{{post.picture}}" class="projectpic icon"/>
      </div>
    </div>
  </div>
  {% endif %}
  {% if post.layout == "col-1" %}
  <div class="project col-1">
    <div class="project_info">
      <h3>{{post.name}}</h3>
      <p><strong>Technologies:</strong> {{post.technologies}}</p>
      <p><strong>Date:</strong> {{post.when}}</p>
      {% if post.role %}
      <p><strong>Role:</strong> {{post.role}}</p>
      {% endif %}
    </div>
    <div class="column text" style="text-align: justify">
      <p>{{post.content}}</p>
    </div>
  </div>
  {% endif %}
    {% endif %}
  {% endfor %}
</section>
{% endfor %}

<section class="ss-style-zigzag color-contact" style="padding: 3em 5% 3em;" id="contact">
  <div class="col-3">
    <div class="column" style="padding:1em">
      <script type="text/javascript"> 
        gen_mail_to_link('pesonen.sakari','gmail.com');
      </script>
    </div>
    <div class="column" style="padding:1em">
          <a target="_blank" href="https://fi.linkedin.com/in/sakaripesonen"><img src="/img/linkedin.png"></a>
    </div>
    <div class="column" style="padding:1em">
      <a target="_blank" href="https://github.com/sagge"><img src="/img/github.png"></a>
    </div>
    </div>
</section>